
//@theme "/nix/store/h252ws5m5ykvbybiqp5apj0jdxdl9q3p-rofi-1.7.5+wayland3/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/nix/store/h252ws5m5ykvbybiqp5apj0jdxdl9q3p-rofi-1.7.5+wayland3/share/rofi/themes/sidebar.rasi"

@theme "/nix/store/h252ws5m5ykvbybiqp5apj0jdxdl9q3p-rofi-1.7.5+wayland3/share/rofi/themes/Arc-Dark.rasi"
